<!-- <div>
    <snackbar [message]="message" [snackbarClass]="snackbarClass"></snackbar>
  </div> -->

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img [src]="signInImage" class="img-fluid" alt="Sample image" />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form
          [formGroup]="forgetPasswordForm"
          (ngSubmit)="onSubmitForgotPassword()"
        >
          <div
            class="d-flex flex-row align-items-center justify-content-center"
          >
            <!-- <p class="lead fw-normal mb-0 me-3">LOGO</p> -->
            <p class="lead fw-bold mb-0 text-center">Forgot Password</p>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">
                <i class="fa-solid fa-lg fa-key"></i>
            </p>
          </div>

          <div data-mdb-input-init class="form-group form-outline mb-4">
            <input
              type="email"
              class="form-control form-control-lg bg-transparent border-bottom"
              id="email"
              placeholder="Enter your Email Address"
              required
              formControlName="email"
            />

            <div
              *ngIf="
                forgetPasswordForm.get('email')?.invalid &&
                (forgetPasswordForm.get('email')?.dirty ||
                  forgetPasswordForm.get('email')?.touched)
              "
              class="text-danger"
            >
              <div
                *ngIf="forgetPasswordForm.get('email')?.errors?.['required']"
              >
                Email is required.
              </div>
              <div *ngIf="forgetPasswordForm.get('email')?.errors?.['email']">
                Invalid email format.
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-lg text-center"
            data-mdb-button-init
            data-mdb-ripple-init
            style="padding-left: 2.5rem; padding-right: 2.5rem"
          >
            Reset Password
          </button>

          <p class="large fw-semibold fs-6 text-end mt-3 pt-1 mb-0">
            Want to go -
            <a [routerLink]="['/login']" class="link-Success">Back</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
