<button
*ngIf="!showChangePasswordForm"
class="btn btn-primary mt-2"
(click)="onChangePassword()"
>
Change Password
</button>
<div class="change-password-section" *ngIf="showChangePasswordForm">
<form
  [formGroup]="changePasswordForm"
  (ngSubmit)="onChangePasswordSubmit()"
>
  <div class="mb-3 pt-3">
    <div class="col-md-4">
      <label for="oldPassword" class="form-label">Old Password</label>
    </div>
    <div class="col-md-12">
      <input
        type="password"
        id="oldPassword"
        class="form-control"
        formControlName="oldPassword"
      />
    </div>
  </div>
  <div class="mb-3">
    <div class="col-md-4">
      <label for="newPassword" class="form-label">New Password</label>
    </div>
    <div class="col-md-12">
      <input
        type="password"
        id="newPassword"
        class="form-control"
        formControlName="newPassword"
      />
    </div>
  </div>
  <div class="mb-3">
    <div class="col-md-4">
      <label for="confirmPassword" class="form-label"
        >Confirm New Password</label
      >
    </div>
    <div class="col-md-12">
      <input
        type="password"
        id="confirmPassword"
        class="form-control"
        formControlName="confirmPassword"
      />
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-success"
  >
    Update Password
  </button>
</form>
</div>