
main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden; 
  overflow-y: hidden; 
  display: flex;
}


.sidebar {
  display: flex;
  flex-direction: column;
  height:100vh;
  transition: width 0.3s ease;
}
.sidebar-toggle {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem; 
}
.nav {
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem; 
  text-decoration: none;
  color: inherit;
}


.nav-link i {
  margin-right: 0.5rem; 
}
.icon-sidebar .nav-link {
  justify-content: center; 
}

.icon-sidebar {
  width: 4.5rem; 
}

.sidebar:not(.icon-sidebar) {
  width: 280px; 
}

.icon-sidebar .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon-sidebar .nav-link i {
  font-size: 1.5rem;
}


.icon-sidebar .dropdown {
  text-align: center;
}


.display-none {
  display: none !important;
}
