
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-white sidebar shadow-lg" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto text-color" style="--bs-nav-link-color:black;">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}">
          <i class="fas fa-tachometer-alt me-2"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <!-- [routerLink]="['/userManagement']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}" -->
        <a class="nav-link link-dark" data-bs-toggle="collapse" aria-current="page" data-bs-target="#User-Management-collapse" aria-expanded="false" [routerLinkActive]="'active'">
          <i class="fas fa-user me-2"></i>
          User Management
          <i class="fa-solid fa-angle-down"></i>
        </a>
        <div class="collapse ps-3" id="User-Management-collapse" >
          <ul class="nav nav-pills flex-column mb-auto" style="--bs-nav-link-color:black;">
            <li class="nav-item"><a  class="nav-link" aria-current="page"  [routerLink]="['/userManagement/users']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}"> <i class="fa-solid fa-users  me-2"></i> USERS</a></li>
            <li class="nav-item"><a  class="nav-link" aria-current="page"  [routerLink]="['/userManagement/roles']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}"><i class="fa-solid fa-user-shield  me-2"></i> ROLES</a></li>
            <li class="nav-item"><a  class="nav-link" aria-current="page"  [routerLink]="['/userManagement/permissions']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}"><i class="fa-solid fa-user-gear  me-2"></i> PERMISSIONS</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <!-- [routerLink]="['/userManagement']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}" -->
        <a class="nav-link link-dark" data-bs-toggle="collapse" aria-current="page" data-bs-target="#Task-Management-collapse" aria-expanded="false" [routerLinkActive]="'active'">
          <i class="fas fa-user me-2"></i>
          Task Management
          <i class="fa-solid fa-angle-down"></i>
        </a>
        <div class="collapse ps-3" id="Task-Management-collapse" >
          <ul class="nav nav-pills flex-column mb-auto" style="--bs-nav-link-color:black;">
            <li class="nav-item"><a  class="nav-link" aria-current="page"  [routerLink]="['/taskManagement']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}"> <i class="fa-solid fa-users  me-2"></i> View All Task</a></li>
            <li class="nav-item"><a  class="nav-link" aria-current="page"  [routerLink]="['/dairyManagement/roles']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}"><i class="fa-solid fa-user-shield  me-2"></i> Dairy Management</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <hr>
      <a (click)="logout()" class="d-flex align-items-center link-dark text-decoration-none ">
        <strong>Logout  </strong>
        <i class="fa-solid fa-right-from-bracket"></i>
      </a>
  </div>