<div class="container" style="overflow-y: auto; viewport-width: auto; height: 90vh;">
    <div class="d-flex justify-content-between text-center mb-2 pt-4">
      <h3 class="text-center fw-semibold">Activity Log</h3>
    </div>
  
    <div class="card">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Search the Activity" 
              [(ngModel)]="searchTerm" 
              (input)="applyFilter()">
          </div >
          <div class="col-md-4">
          </div>
          <div class="col-md-1">
            <select class="form-select" [(ngModel)]="itemsPerPage" (change)="applyFilter()">
              <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
            </select>
          </div>
        </div>
  
        <table class="table table-bordered table-hover">
          <thead class="table-light">
            <tr>
              <th>S.no</th>
              <th>User Email</th>
              <th>User Role</th>
              <th>Message</th>
              <th>TimeStamp</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="pagedActivityLog.length === 0">
              <td colspan="5" class="text-center">No activity found</td>
            </tr>
            <tr *ngFor="let activity of pagedActivityLog; let i = index">
              <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
              <td [innerHTML]="highlightText(activity.email)"></td>
              <td [innerHTML]="highlightText(activity.role)"></td>
              <td [innerHTML]="highlightText(activity.action)"></td>
              <td>{{ activity.timestamp | date: 'short' }}</td>
            </tr>
          </tbody>
        </table>
  
        <!-- Pagination -->
        <nav *ngIf="totalPages > 1">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <button class="page-link" (click)="setPage(currentPage - 1)">Previous</button>
            </li>
            <li *ngFor="let page of totalPagesArray" class="page-item" 
                [class.active]="currentPage === page" 
                [class.disabled]="page === -1">
              <button class="page-link" 
                      *ngIf="page !== -1" 
                      (click)="setPage(page)">{{ page }}</button>
              <span class="page-link" *ngIf="page === -1">...</span>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <button class="page-link" (click)="setPage(currentPage + 1)">Next</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>    
  </div>
  
