.container {
    max-width: 600px;
    margin-top: 20px;
  }
  
  button {
    width: 100%;
  }
 

  .container-fluid {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

  
  