
  .card {
    border: 1px solid #dee2e6; 
    border-radius: 10px;
    overflow: hidden; 
    background-color: #ffffff; 
  }
  

  .card.shadow-lg {
    box-shadow: 0 4px 8px rgba(0,0,0,.2); 
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,.3); 
  }
  
 
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
    color: #495057; 
  }
  
  .card-text i {
    margin-right: 8px;
  }
  