<button #modalButton type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="display: none;">
  Launch warning modal
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" [ngClass]="{'show': isVisible}" [ngStyle]="{'display': isVisible ? 'block' : 'none'}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Session Expiry Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Your session will expire in 5 minutes. Would you like to extend your session?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="onExtendSession()">Yes</button>
        <button class="btn btn-secondary" (click)="onLogout()">No</button>
      </div>
    </div>
  </div>
</div>
